<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <!-- <script src="/static/registration.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <title>Paczkopol</title>
</head>
    <body>
        <nav>
            <a class="nav-item" href="/">Strona główna</a>
            <a class="nav-item" href="{{ url_for('logout_view') }}" >Wyloguj się</a>
        </nav>
        <div class="content">
        </div>
        <footer>
            <span id="pamw">Programowanie aplikacji mobilnych i webowych, 2020</span> 
            <a id="repo-link" target="_blank" href="https://github.com/JanKodowanie/paczkopol_2020" id="repo">Repozytorium Github</a>
        </footer>
    </body>
</html>