<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/start.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <title>Paczkopol</title>
</head>
<body>
    <h1>PACZKOPOL</h1>
    <img id="image1" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvK8_M7-Se5RnxTL9Fy3-0-wjhDVYUjwroiQ&usqp=CAU>
    <form id="newsletter-form">
        <h2>Newsletter:</h2>
        <ul>
            <li class="form-field"><input type="text" name="first_and_last" placeholder="Imię i nazwisko"></li>
            <li class="form-field"><input type="text" name="email" placeholder="Adres email"></li>
            <button class="form-button">Zapisz się do newslettera</button>
        </ul>
    </form>
    <form>
        <h2>Zaloguj się:</h2>
        <ul>
            <li class="form-field"><input type="text" name="username" placeholder="Login"></li>
            <li class="form-field"><input type="text" name="password" placeholder="Hasło"></li>
            <button class="form-button">Zaloguj się</button>
        </ul>
    </form>
</html>

